aiohttp
aiofiles
asn1crypto
awscli
boto3
botocore
bcrypt
certifi
cffi
chardet
colorama
cryptography
decorator
docutils
ecdsa
fabric
httplib2
idna
invoke
jmespath
ldap3
mock
oauth2
pyasn1
pyca
pycparser
pygit2
pynacl
pypng
pyqrcode
redis
requests
requests_aws4auth
rsa
selenium
six
tlslite
urllib3
